@font-face {
  font-family: 'Inter UI';
  src: url('Inter-UI-Regular.woff') format('woff');
  font-weight: regular;
}

@font-face {
  font-family: 'Inter UI';
  src: url('Inter-UI-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter UI';
  src: url('Inter-UI-Bold.woff') format('woff');
  font-weight: 700;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 0 60px 0;
  font-family: "Inter UI", sans-serif;
  font-size: 18px;
  line-height: 1.55;
}

header {
  background: #111;
  color: #fff;
  margin-bottom: 40px;
  padding: 1px 0 20px 0;
}

a {
  text-decoration: none;
  color: var(--theme-color);
}

a:hover {
  text-decoration: underline;
}

nav a {
  margin-right: 40px;
  color: #fff;
}

nav a:hover {
  color: var(--theme-color);
}

.container {
  width: 100%;
  max-width: 750px;
  margin: auto;
}

.container.wide {
  max-width: 1200px;
}

#heading h1 {
  margin: 0 0 0.4em;
}

#heading button {
    background: #fff;
  border: 0;
  color: #ce4473;
  font-size: 1.2em;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 2px;
}

.btn {
  outline: none;
  border: 2px solid transparent;
  background: #111;
  color: #fff;
  font-size: 18px;
  margin-left: 10px;
  text-align: center;
  padding: 0 20px;
  font-family: "Inter UI";
  font-weight: 500;
  letter-spacing: .5px;
  cursor: pointer;
}

.btn:hover {
  background: var(--theme-color);
}

.btn[disabled] {
  background: #fff;
  border-color: gray;
  color: gray;
  cursor: default;
}

.input-group {
  display: flex;
  flex-wrap: nowrap;
}

.input-group input {
  flex: 1;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

input {
  padding: 0 15px;
  height: 55px;
  border: 2px solid #111;
  font-size: 18px;
}

input.error {
  border: 2px dashed red;
}

input:focus {
  outline: none;
  box-shadow: none;
}

input:focus:not(.error) {
  border-color: var(--theme-color);
}

ul li {
  margin-bottom: 10px;
}

#website-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  grid-gap: 20px;
  margin: 60px 0 0 0;
}

#website-grid a {
  color: #111;
}

#website-grid a:hover {
  color: var(--theme-color);
  text-decoration: none;
}

#website-grid a:hover .website-title {
  text-decoration: underline;
}

#website-grid img {
  max-width: 100%;
  border: 2px solid #111;
}

#website-grid a:hover img {
  border-color: var(--theme-color);
}

.website-title {
  font-weight: 500;
}

.website-description {
  font-size: 15px;
}